body {
    margin: 5px;
    padding: 5px;
    background: rgb(221, 187, 255);
}
header h1{
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}