/** @format */
body {
	margin: 0px;
	padding: 0px;
	background: rgb(221, 187, 255);
}

header {
	text-align: center;
}

header div {
	background-color: aqua;
	display: inline-block;
	align-items: center;
	padding: 0 15px;
}

header img,
header h1 {
	display: inline;
	width: 50px;
	margin: 5px;
}

footer {
	margin: 0;
	padding: 10px;
	text-align: center;
	background-color: blueviolet;
}

footer p {
	margin: 0;
	font-size: 20px;
	color: #fff;
}

main {
	margin: 10px;
	padding: 10px;
	height: 100%;
	border-radius: 10px;
	background-color: yellowgreen;
}

#logInDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: 50px;
}

#logInDiv button {
	margin: 0px 20px;
}

body {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-top: 10px;
}

input {
	margin-top: 5px;
}

button {
	margin: 10px;
	padding: 4px 10px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #332fb7;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	max-height: 50px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
}

button:hover {
	cursor: pointer;
}

/* Admin Table Css */
table {
	overflow: scroll;
	width: 100%;
}
table tr td,
table tbody tr td {
	border: 1px solid black;
	border-collapse: collapse;
	align-items: center;
	background-color: rgb(167, 167, 255);
	padding: 5px;
	width: 14%;
	min-width: 125px;
	text-align: center;
}

/* Demos style */
#demos {
	display: flex;
	border-radius: 20px;
}
main,
main #demos {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	justify-content: center;
}
main h1,
main h2 {
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: calc(33.33% - 10px);
	margin-bottom: 20px;
	flex: 1;
	min-width: 30%;
	position: relative;
	border-radius: 20px;
	margin: 10px;
	background-color: bisque;
}

/* .thumbnail:last-child {
	margin-right: 0;
} */

.thumbnail-image {
	background-size: cover;
	background-position: center;
	opacity: 1;
	border-radius: 20px;
}

.thumbnail-content {
	position: absolute;
	top: 75%;
	height: 40px;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 20px;
}

.thumbnail:hover .thumbnail-content,
.thumbnail:hover .thumbnail-image {
	cursor: pointer;
	opacity: 0.75;
	transition: opacity 1.5s ease;
	-ms-zoom-animation: initial;
}

.thumbnail-content h3,
.thumbnail-content p {
	margin: 0;
}

img {
	border-radius: 20px;
	width: 100%;
	height: auto;
}
#confirmStyleImg {
	max-width: 200px;
}

#barberDetail {
	display: flex;
	align-items: center;
	gap: 20px;
}

.barberIntroduction {
	flex: 1;
}

#barberImg {
	width: 50%;
}

#fixed {
	position: fixed;
	top: 40%;
	left: 55%;
	transform: translateX(-50%);
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #ccc;
}

.hidden {
	display: none;
}
